body
{
	 background-color: lightblue;
}

table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}

th, td{
	padding: 15px
}

h1, h2{
	color: grey; 
	font: 12px tahoma;
	text-indent: 40px;
	text-shadow: black;
}
