<!--blah-->
{% extends "base.html" %} 
{% block content %} 
<h1>{{title}}</h1> 
<style>
table {
color: #333;
font-family: Helvetica, Arial, sans-serif;
width: 640px;
border-collapse:
collapse; border-spacing: 0;
}

td, th {
border: 1px solid transparent; /* No more visible border */
height: 30px;
transition: all 0.3s;  /* Simple transition for hover effect */
}

th {
background: blue;  /* Darken header a bit */
font-weight: bold;
}

td {
background: #FAFAFA;
text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td { background: #F1F1F1; }  

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
tr:nth-child(odd) td { background: #grey; } 

tr td:hover { background: lightblue; color: blue; } /* Hover cell effect! */
</style>

 <img src="https://media.giphy.com/media/3o7WTL9HVZvi65iMGk/giphy.gif" alt="Trump" style="position:absolute;right:50;top:100;width:400px;height:300px;">
 <img src="https://media.giphy.com/media/FbLUNc9AHruF2/200.gif" alt="Obama" style="position:absolute;right:50;top:450;width:400px;height:300px;">
 <img src="https://media.giphy.com/media/l2JJD5p7zNxYFlV84/200.gif" alt="Hillary" style="position:absolute;right:50;top:800;width:400px;height:300px;">
 <img src="https://media.giphy.com/media/xT0BKjdboxmewTzDTW/giphy.gif" alt="Hillary Bernie Debate" style="position:absolute;right:50;top:1200;width:400px;height:300px;">
 <img src="https://media.giphy.com/media/3oEdvauJnUoaVD815S/giphy.gif" alt="Dancing Bernie" style="position:absolute;right:50;top:1600;width:400px;height:300px;">
 <img src="https://media.giphy.com/media/6CFEuzT5MdW7K/200.gif" alt="Bernie Interview" style="position:absolute;right:50;top:2000;width:400px;height:300px;">
 <img src="https://media.giphy.com/media/CFUCR2Hg0jH4Q/200.gif" alt="Ted Cruz" style="position:absolute;right:50;top:2400;width:400px;height:300px;">
 <img src="https://media.giphy.com/media/jdZvxz8GYtcMo/giphy.gif" alt="Carson" style="position:absolute;right:50;top:2800;width:400px;height:300px;">
 <img src="https://media.giphy.com/media/4mubyx5e09FHW/giphy.gif" alt="Go vote" style="position:absolute;right:50;top:3200;width:400px;height:600px;">
 <img src="https://media.giphy.com/media/l2R0aIkYUXywiDMdO/giphy.gif" alt="More Trump" style="position:absolute;right:50;top:4000;width:400px;height:400px;">
 <img src="https://media.giphy.com/media/3ornjOP03tEOVYuVZC/giphy.gif" alt="Trump Cartoon" style="position:absolute;right:50;top:4600;width:400px;height:400px;"> 
 <img src="https://media.giphy.com/media/rlWDSI9pQSlNu/200.gif" alt="Hillary vs Bernie" style="position:absolute;right:50;top:5200;width:500px;height:400px;">
 <img src="https://media1.giphy.com/media/6CRLIZzDT2Wys/200.gif" alt="Obama Handshake" style="position:absolute;right:50;top:5800;width:400px;height:400px;">

 <table id="t01"> 
  <thead>
  <caption><h2>BBC News Result</h2></caption> 
   <tr> 
    <th>Candidate</th> 
    <th>Number of Times Mentioned</th> 
    <th>Article</th>
   </tr> 
  </thead> 
  <tbody> 
  {% for p in posts %} 
   <tr> 
    <td>{{ p }}</td>
    <td>{{ posts[p].get('bbc').get('num_sited') }}</td>
    <td> 
     {% for a in posts[p].get('bbc').get('ref') %} 
	<p><a href= "{{a.get('url')}}" >{{a.get('title')}}</a></p> 
     {% endfor %}
    </td>
   </tr> 
  {% endfor %} 
  </tbody> 
 </table> 
  
 <table id="t01"> 
  <thead>
  <caption><h2>FOX News Result</h2></caption> 
   <tr> 
    <th>Candidate</th> 
    <th>Number of Times Mentioned</th> 
    <th>Article</th>
   </tr> 
  </thead> 
  <tbody> 
  {% for p in posts %} 
   <tr> 
    <td>{{ p }}</td>
    <td>{{ posts[p].get('fox').get('num_sited') }}</td>
    <td> 
     {% for a in posts[p].get('fox').get('ref') %} 
	<p><a href= "{{a.get('url')}}" >{{a.get('title')}}</a></p> 
     {% endfor %}
    </td>
   </tr> 
  {% endfor %} 
  </tbody> 
 </table> 

<table id="t01"> 
  <thead>
  <caption><h2>Independent News Result</h2></caption> 
   <tr> 
    <th>Candidate</th> 
    <th>Number of Times Mentioned</th> 
    <th>Article</th>
   </tr> 
  </thead> 
  <tbody> 
  {% for p in posts %} 
   <tr> 
    <td>{{ p }}</td>
    <td>{{ posts[p].get('independent').get('num_sited') }}</td>
    <td> 
     {% for a in posts[p].get('independent').get('ref') %} 
	<p><a href= "{{a.get('url')}}" >{{a.get('title')}}</a></p> 
     {% endfor %}
    </td>
   </tr> 
  {% endfor %} 
  </tbody> 
 </table> 

<table id="t01"> 
  <thead>
  <caption><h2>The Guardian News Result</h2></caption> 
   <tr> 
    <th>Candidate</th> 
    <th>Number of Times Mentioned</th> 
    <th>Article</th>
   </tr> 
  </thead> 
  <tbody> 
  {% for p in posts %} 
   <tr> 
    <td>{{ p }}</td>
    <td>{{ posts[p].get('theguardian').get('num_sited') }}</td>
    <td> 
     {% for a in posts[p].get('theguardian').get('ref') %} 
	<p><a href= "{{a.get('url')}}" >{{a.get('title')}}</a></p> 
     {% endfor %}
    </td>
   </tr> 
  {% endfor %} 
  </tbody> 
 </table> 

{% endblock %} 
